.button {
    min-height: 75px;
    min-width: 75px;
    margin: 0;
}

.button:hover {
    background-color: aqua;
}

.add-to-display:active,
.current-operator {
    background-color: chocolate;
    box-shadow: 2px 2px 5px hotpink;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
