.button img {
    min-width: 12px;
    height: auto;
    display: block;
}

.button:hover {
    background-color: aqua;
}

.add-to-display:active,
.current-operator {
    background-color: chocolate;
    box-shadow: 2px 2px 5px hotpink;
}
